<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <link href="../css/location.css" rel="stylesheet">
        <link rel="stylesheet" href="../css/reset.css">
        <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=P5oGaZvbXAdLIn2SPMqxYtNZR1Wv9k3I"></script>
    </head>
    <body>
        <div class="body">
            <div id="radio-group" class="radio-group">
                <div class="radio" data-radio-id="friends">好友</div>
                <div class="radio" data-radio-id="all">所有人</div>
            </div>
            <div id="map" class="container"></div>
        </div>
        <script type="text/javascript" src="../js/location.js"></script>
    </body>
</html>